{% extends "base.html" %}
{% block title %}Edit Profile | Budget Journal{% endblock %}
{% block content %}
    <div class="profile-container">
        <h1>Edit Profile</h1>
        <form method="post" class="profile-form">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              <div class="form-error">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
        {% endfor %}

            <button type="submit" class="button primary">Edit</button>
        </form>
    </div>
{% endblock %}
