{% load static %}
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}">
    <title>{% block title %}Budget Journal{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header">
    <div class="container header-inner">
    <a href="{% url 'homepage' %}" class="brand">
        <img src="{% static 'images/budget-journal-logo.png' %}" alt="Budget Journal logo" class="logo">
        <div class="brand-text">
            <span class="product">Budget Journal</span>
            <small class="tagline">Control your money. Own your future.</small>
        </div>
    </a>


    {% if user.is_authenticated %}
        <nav class="nav">
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">Dashboard</a>
        <a href="#" class="nav-link">Reports</a>
    {% else %}
        <a href="{% url 'register' %}" class="nav-link cta">Get started</a>
    {% endif %}

    </nav>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <div class="container footer-inner">
        <div>© 2025 Budget Journal</div>
        <div class="footer-links">
            <a href="{% url 'privacy' %}">Privacy</a>
            <a href="{% url 'terms' %}">Terms</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </div>
</footer>
</body>
</html>
