{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | Budget Journal{% endblock %}

{% block content %}
    <div class="container">
        <h1>November 2025</h1>

        <!-- TODO format the numbers with " " (space between) -->

        <div class="summary-bar">
            <div class="summary-item">
                <h3>START AMOUNT</h3>
                <p>€00.00</p> <!--TODO-->
            </div>

            <div class="summary-item">
                <h3>TOTAL INCOME</h3>
                <p>€{{ total_income|floatformat:2 }}</p>
            </div>

            <div class="summary-item">
                <h3>TOTAL EXPENSES</h3>
                <p>€{{ total_expenses|floatformat:2 }}</p>
            </div>

            <div class="summary-item">
                <h3>TOTAL REMAINING</h3>
                <p>€{{ total_remaining|floatformat:2 }}</p>
            </div>

            <div class="summary-item">
                <h3>TOTAL WEALTH</h3>
                <p>€{{ total_wealth|floatformat:2 }}</p>
            </div>

        </div>

        <div class="tables-wrapper row">
            <!-- INCOME TABLE -->
            <div class="column">
                <a href="{% url 'income' %}" class="clickable-table-wrapper">
                    <div class="table--dashboard-wrapper clickable-table">
                        <table class="table table--dashboard table-income">
                            <caption class="header-title">INCOME</caption>
                            <thead>
                            <tr>
                                <th>Source</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if incomes %}
                                {% for inc in incomes %}
                                    <tr>
                                        <td>{{ inc.name|slice:":13" }}</td>
                                        <td>€{{ inc.amount|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No incomes yet</td>
                                </tr>
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr class="total-row">
                                <td>Total</td>
                                <td>€{{ total_income|floatformat:2 }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </a>
            </div>

            <!-- EXPENSES TABLE -->
            <div class="column">
                <a href="{% url 'expense' %}" class="clickable-table-wrapper">
                    <div class="table--dashboard-wrapper clickable-table">
                        <table class="table table--dashboard table-expenses">
                            <caption class="header-title">EXPENSES</caption>
                            <thead>
                            <tr>
                                <th>Bill</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if expenses %}
                                {% for exp in expenses %}
                                    <tr>
                                        <td>{{ exp.name|slice:":15" }}</td>
                                        <td>€{{ exp.amount|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No expenses yet</td>
                                </tr>
                            {% endif %}

                            </tbody>
                            <tfoot>
                            <tr class="total-row">
                                <td>Total</td>
                                <td>€{{ total_expenses|floatformat:2 }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </a>
            </div>

            <!-- SAVINGS TABLE -->
            <div class="column">
                <a href="{% url 'saving' %}" class="clickable-table-wrapper">
                    <div class="table--dashboard-wrapper clickable-table">
                        <table class="table table--dashboard table-savings">
                            <caption class="header-title">SAVINGS</caption>

                            <thead>
                            <tr>
                                <th>Category</th>
                                <th>Amount</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if savings %}
                                {% for sav in savings %}
                                    <tr>
                                        <td>{{ sav.name|slice:":15" }}</td>
                                        <td>€{{ sav.amount|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No savings yet</td>
                                </tr>
                            {% endif %}
                            </tbody>

                            <tfoot>
                            <tr class="total-row">
                                <td>Total</td>
                                <td>€{{ total_savings|floatformat:2 }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </a>
            </div>

            <!-- INVESTMENTS TABLE -->
            <div class="column">
                <a href="{% url 'investment' %}" class="clickable-table-wrapper">
                    <div class="table--dashboard-wrapper clickable-table">
                        <table class="table table--dashboard table-investments">
                            <caption class="header-title">INVESTMENTS</caption>

                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Amount</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if investments %}
                                {% for inv in investments %}
                                    <tr>
                                        <td>{{ inv.name|slice:":15" }}</td>
                                        <td>€{{ inv.amount|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No investments yet</td>
                                </tr>
                            {% endif %}
                            </tbody>

                            <tfoot>
                            <tr class="total-row">
                                <td>Total</td>
                                <td>€{{ total_investments|floatformat:2 }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </a>
            </div>

        </div>

    </div>

{% endblock %}