{% extends "base.html" %}

{% block title %}Expenses | Budget Journal{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ period.month_name }} {{ period.year }}</h1>

        <div class="archive-dropdown">
            <select onchange="window.location=this.value;">
                <option value="">Select period</option>
                {% for p in periods %}
                    <option value="{% url 'expenses_archive' p.year p.month %}">
                        {{ p.month_name }} {{ p.year }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <table class="table table-expenses">
            <caption class="header-title">EXPENSES</caption>

            <thead>
            <tr>
                <th>Bill</th>
                <th>Date</th>
                <th>Amount</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% if expenses %}
                {% for exp in expenses %}
                    <tr>
                        <td>{{ exp.name }}</td>
                        <td>{{ exp.date }}</td>
                        <td>€{{ exp.amount|floatformat:2 }}</td>
                        <td class="actions">
                            <form method="POST" action="{% url 'delete_expense' exp.id %}">
                                {% csrf_token %}
                                <button class="icon-btn" title="Delete">🗑️</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No expenses yet</td>
                </tr>
            {% endif %}
            </tbody>

            <tfoot>
            <tr class="total-row">
                <td>Total</td>
                <td></td>
                <td>€{{ total_expenses|floatformat:2 }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>

        {% if not archive_mode %}

            <form method="post">
                {% csrf_token %}

                {{ form.name }}
                {{ form.name.errors|striptags }}

                {{ form.date }}
                {{ form.date.errors|striptags }}

                {{ form.amount }}
                {{ form.amount.errors|striptags }}

                <button type="submit" class="add-button btn-red">+ Add New Expense</button>
            </form>
        {% endif %}
    </div>

{% endblock %}
