{% extends "base.html" %}

{% block title %}Income | Budget Journal{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ period.month_name }} {{ period.year }}</h1>

        <div class="archive-dropdown">
            <select onchange="window.location=this.value;">
                <option value="">Select period</option>
                {% for p in periods %}
                    <option value="{% url 'income_archive' p.year p.month %}">
                        {{ p.month_name }} {{ p.year }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <table class="table table-income">
            <caption class="header-title">INCOME</caption>

            <thead>
            <tr>
                <th>Source</th>
                <th>Date</th>
                <th>Amount</th>
                <th></th>
            </tr>
            </thead>
            <!-- Income List -->
            <tbody>
            {% if incomes %}
                {% for inc in incomes %}
                    <tr>
                        <td>{{ inc.name }}</td>
                        <td>{{ inc.date }}</td>
                        <td>€{{ inc.amount|floatformat:2 }}</td>
                        <td class="actions">
                            {% if not archive_mode %}
                            <form method="POST" action="{% url 'delete_income' inc.id %}">
                                {% csrf_token %}
                                <button class="icon-btn" title="Delete">🗑️</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No incomes yet</td>
                </tr>
            {% endif %}
            </tbody>

            <tfoot>
            <tr class="total-row">
                <td>Total</td>
                <td></td>
                <td>€{{ total_income|floatformat:2 }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>

        {% if not archive_mode %}
            <!-- Income Create Form -->
            <form method="post">
                {% csrf_token %}

                {{ form.name }}
                {{ form.name.errors|striptags }}

                {{ form.date }}
                {{ form.date.errors|striptags }}

                {{ form.amount }}
                {{ form.amount.errors|striptags }}

                <button type="submit" class="add-button btn-orange">+ Add New Income</button>
            </form>
        {% endif %}
    </div>

{% endblock %}
