{% extends "base.html" %}

{% block title %}Investments | Budget Journal{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ period.month_name }} {{ period.year }}</h1>

        <table class="table table-investments">
            <caption class="header-title">INVESTMENTS</caption>

            <thead>
            <tr>
                <th>Type</th>
                <th>Date</th>
                <th>Amount Change</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% if investments %}
                {% for inv in investments %}
                    <tr>
                        <td>{{ inv.name }}</td>
                        <td>{{ inv.date }}</td>
                        <td>€{{ inv.amount|floatformat:2 }}</td>
                        <td class="actions">
                            <form method="POST" action="{% url 'delete_investment' inv.id %}">
                                {% csrf_token %}
                                <button class="icon-btn" title="Delete">🗑️</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            {% endif %}
            </tbody>

            <tfoot>
            <tr class="total-row">
                <td>Total</td>
                <td></td>
                <td>€{{ total_investments|floatformat:2 }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>

        <form method="post">
            {% csrf_token %}

            {{ form.operation }}
            {{ form.operation.errors|striptags }}

            {{ form.name }}
            {{ form.name.errors|striptags }}

            {{ form.date }}
            {{ form.date.errors|striptags }}

            {{ form.amount }}
            {{ form.amount.errors|striptags }}

            <button type="submit" class="add-button btn-blue">+ Add New Investments</button>
        </form>

    </div>

{% endblock %}
