{% extends "base.html" %}

{% block title %}Savings | Budget Journal{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ period.month_name }} {{ period.year }}</h1>

        <table class="table table-savings">
            <caption class="header-title">SAVINGS</caption>

            <thead>
            <tr>
                <th>Category</th>
                <th>Date</th>
                <th>Amount Change</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% if savings %}
                {% for sav in savings %}
                    <tr>
                        <td>{{ sav.name }}</td>
                        <td>€{{ sav.date }}</td>
                        <td>€{{ sav.amount }}</td>
                        <td class="actions">
                            <form method="POST" action="{% url 'delete_saving' sav.id %}">
                                {% csrf_token %}
                                <button class="icon-btn" title="Delete">🗑️</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No savings yet</td>
                </tr>
            {% endif %}
            </tbody>

            <tfoot>
            <tr class="total-row">
                <td>Total</td>
                <td></td>
                <td>€{{ total_savings }}</td>
                <td></td>

            </tr>
            </tfoot>
        </table>

        <form method="post">
            {% csrf_token %}
            {{ form.operation }}
            {{ form.operation.errors|striptags }}

            {{ form.name }}
            {{ form.name.errors|striptags }}

            {{ form.date }}
            {{ form.date.errors|striptags }}

            {{ form.amount }}
            {{ form.amount.errors|striptags }}

            <button type="submit" class="add-button btn-green">+ Add New Saving</button>
        </form>
    </div>

{% endblock %}
